.main-section-sync-mode-on{
    display: flex;
    padding: .5rem;
    margin: .3rem;
    border-radius: 10px;
    border:1px solid var(--color-primary-2);
    /* box-shadow: 3px 3px 4px 0 var(--shadow-outer-dark),
    -2px -2px 3px 0 var(--shadow-outer-light);  */
}
.main-section-sync-mode-off{
    padding: 1rem;
}
