.collapse-container{
    width: 15%;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.collapse-section{
    opacity:0;
    transition: all .5s ease-in-out;
}
.collapse-section.expanded{ opacity:1; }
.collapse-container.collapse-width{ width: 0; }

.inputs-sync{  
    width:fit-content;
    margin-right: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s ease-in-out;
}

.local-inputs{
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:fit-content;
    padding:.2rem;
    transition: all .5s linear;
}
.local-inputs.single-mode{/* width:100%; */}
.input-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}
.number-input-container{
    display: flex;
    align-items: baseline;
}
.number-input{
    flex:0;
    background: none;
    border: none;
    color:var(--color-text);
    border-radius: 10px;
    box-shadow: inset 3px 3px 7px 0 rgba(0, 0, 0, 0.6),
    inset -2px -2px 2px 0 rgba(108,108,108, 0.6);
}
.number-input:focus{ outline: none }

.range-input-container{
    position: relative;
    width:fit-content;
    flex: 1;
}
.input-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .1rem;
    color:var(--text-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    border:1px solid var(--color-primary-1);
    transition: all .1s ease;
}
.input-btn:active{
    border:1px solid var(--color-primary-2);
    box-shadow: inset 3px 3px 4px 0 var(--shadow-inner-dark),
    inset -2px -2px 2px 0 var(--shadow-inner-light);
}

input[type=range]{
    -webkit-appearance: none;
    width:100%; /* specific width for FireFox */
    background: transparent; /* Otherwise white in chrome */
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
}
input[type=range]:focus{
    outline:none;
}
input[type=range]::-ms-track{/* hides the slider so custom styles ca be added */
    width:90%;
    cursor:pointer;
    background: transparent;     
    border-color: transparent;
    color:transparent;
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    margin-top: -7px; /* specify margin for chrom */
    cursor: pointer;
    height: 1rem;
    width: .45rem;
    background: var(--text-color);
    border: 1px solid var(--color-primary-2);
    border-radius: .3rem;
}
input[type=range]::-moz-range-thumb{
    height: 1rem;
    width: .45rem;
    background: var(--text-color);
    border: 1px solid var(--color-primary-2);
}
input[type=range]::-ms-thumb{
    height: 1rem;
    width: .45rem;
    background: var(--text-color);
    border: 1px solid var(--color-primary-2);
}
input[type=range]::-webkit-slider-runnable-track{
    width:90%;
    height: .19rem;
    cursor: pointer;
    background: var(--text-color);
    border-radius: .5rem;
}
input[type=range]:focus ::-webkit-slider-runnable-track{
    background: var(--text-color); /* ??? */
}

input[type=range]::-moz-range-track{
    width:90%;
    height: .19rem;
    cursor: pointer;
    background: var(--text-color);
    border-radius: .5rem;
}
input[type=range]::-ms-track{
    width:90%;
    height: .19rem;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color:transparent;
}
input[type=range]::-ms-fill-lower{
    background: var(--text-color);
    border-radius: .5rem;
}
input[type=range]::-ms-fill-upper{
    background: var(--text-color); 
}