.layout{
    color:var(--text-color);
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    height: 100vh;
    width:100vw;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap:0;
    grid-template-rows: repeat(18, 1fr);
    padding: 1rem;
}
/* GRIDS STRUCTURE */
.menu-grid{
    grid-column: 4/19;
    grid-row: 1/2;
}
.side-menu-grid{
    grid-column: 1/4;
    grid-row: 1/19;
}
.main-grid{
    grid-column: 4/19;
    grid-row: 2/19;
}