.compare-mode-block{
    height:155px;
    display: flex;
    align-items: center;
    /* overflow: hidden; */
    /* width:100%; */
    background-color: transparent;
    /* padding: .15rem .15rem .15rem .15rem; */
    padding: .15rem;
    margin-bottom: .25rem;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px 0 var(--shadow-inner-dark),
    inset -2px -1px 1px 0 var(--shadow-inner-light);
    position: relative;
}

.chart-container{
    /* flex-grow: 1; */
    flex-shrink: 1;
}

.lower-level__compare-block{
    display: flex;
    align-items: center;
    overflow: hidden;
    width:100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--bg-color);
    padding: .15rem .15rem .1rem 2.5rem;
}



.algo-comp{
    display:flex;
    /* justify-content: space-around; */
    /* padding-left: 3rem; */
    /* padding-right: 3rem; */
    /* width: 100%; */
    /* background-color: darkgrey; */
}

.local-algo-buttons{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    flex-grow: 0;
    /* background-color: coral; */
}

.local-algo-buttons button[disabled]{ border: 1px solid var(--color-disabled)}
.local-play-menu-on{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .2s ease;
    border-radius: 10px;
    border: 1px solid var(--color-primary-2);
}
.local-play-menu-off{
    /* background-color: tomato; */
    border: 1px solid var(--color-disabled);
    transition: all .2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    /* background-color: yellowgreen; */
}

.local-play-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    color:var(--text-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    border:none;
    transition: all .2s ease;
}

.local-play-btn__active{
    border:1px solid var(--color-primary-2);
    box-shadow: inset 4px 3px 7px 0 var(--shadow-inner-dark),
    inset -2px -2px 2px 0 var(--shadow-inner-light);
}
.local-play-btn__passive{ cursor: pointer }
.local-play-menu-on button[disabled], 
.local-play-menu-off button[disabled]{
    border:none;
    color:var(--color-disabled);
    box-shadow: none;
    cursor:unset;
}
.local-next-step{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .1rem;
    margin-top: .3rem;
    cursor: pointer;
    color:var(--text-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    border:1px solid var(--color-primary-2);
    transition: all .2s ease;
}
.local-next-step:active{
    border:1px solid var(--color-primary-1);
    box-shadow: inset 4px 3px 7px 0 var(--shadow-inner-dark),
    inset -2px -2px 2px 0 var(--shadow-inner-light);
}
.local-next-step[disabled]{
    border: 1px solid var(--bg-color-1);
    color:var(--color-disabled);
    box-shadow: none;
    cursor: unset;
}
.remove-block-btn{
    position: absolute;
    top:2;
    left:.2rem;
    display: flex;
    align-items: center;
    padding: 0 10px;
    height:95%;
    color:var(--text-color);
    background-color: var(--bg-color);
    border-radius: 7px;
    box-shadow: 1px 1px 2px 0 var(--shadow-outer-dark),
    -2px -2px 2px 0 var(--shadow-outer-light); 
    border:1px solid var(--bg-color-shade);
    transition: all .2s ease;
}
.remove-block-btn:active{
    border:1px solid var(--color-primary-2);
    box-shadow: inset 4px 3px 7px 0 var(--shadow-inner-dark),
    inset -2px -2px 2px 0 var(--shadow-inner-light);
}
.remove-block-btn:hover{ background-color: var(--bg-color-2) }