.compare-mode-block{
    height:155px;
    width:100%;
    display: flex;
    align-items: center;
    transition: all .3s ease;
    margin-bottom: .5rem;
    overflow: hidden;
    border-radius: 25px;
    border:1px solid var(--color-primary-2);
}

.algo-compnent{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.local-buttons__algo-component{
    display: flex;
    flex-wrap: wrap;
    min-width: 7rem;
    height: 2rem;
}

.local-buttons__algo-component button{
    flex-grow:1;
}
.local-buttons__algo-component button{
    /* min-width: 100%; */
}


.remove-block-btn{
    border: none;
    color:var(--text-color);
    background-color: var(--color-primary-2);
    padding: 0 10px;
    height:100%;
}

.remove-block-btn:hover{
    background-color: var(--color-primary);
}