:root{    
  /* transition: all 1s ease; */
}

.theme-dark{
  --bg-dark:rgb(22, 24, 31);
  /* --bg-dark:rgb(0, 62, 218); */
  --color-accent-light:rgb(108,108,108);
  --color-accent-light-2:rgb(54,58,66);
  --color-light:#dededf;
  --color-primary:#0084ff;
  --color-primary-2:mediumpurple;  --color-danger:rgb(220, 0, 22);
  --color-green:#47cf73;

  --shadow-outer-dark:rgba(0, 0, 0, 0.7);
  --shadow-outer-light:rgba(100, 100, 100, 0.2);

  --shadow-inner-dark:rgba(0, 0, 0, 0.7);
  --shadow-inner-light:rgba(100, 100, 100, 0.3);

  /* text-shadow: 1px 1px 3px #ccd0d4, 0 0 0 rgba(0,0,0,0.8), 1px 1px 4px #fff; */ /* GLOW */
  /* transition: all 1s ease; */
}

.theme-light{
  --bg-dark:rgb(172, 172, 172);
  --color-accent-light:#ccd0d4;
  --color-accent-light-2:rgb(109, 109, 109);
  --color-light:#3a3a3b;
  --color-primary:#0084ff;
  --color-danger:rgb(220, 0, 22);

  --shadow-outer-dark:rgba(0, 0, 0, 0.2);
  --shadow-outer-light:rgba(100, 100, 100, 0.2);

  --shadow-inner-dark:rgba(0, 0, 0, 0.4);
  --shadow-inner-light:rgba(205, 209, 213, 0.4);
  /* text-shadow: 1px 1px 3px #ccd0d4, 0 0 0 rgba(0,0,0,0.8), 1px 1px 4px #fff; */
  /* transition: all 1s ease; */
}





body{
  background-color: rgb(219, 219, 219);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

.App{
    background-color: var(--bg-dark);
}

.btn-regular{
  background: linear-gradient(-45deg, var(--color-accent-light-2), var(--color-accent-light));
  border: none;
  color: var(--color-light);
  border-radius: 10px;
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.7),
  -2px -2px 3px 0 rgba(70, 70, 70, 0.2); 
}
.btn-regular:hover{
  background: linear-gradient(45deg, var(--color-accent-light), var(--color-accent-light-2));
  box-shadow: inset 3px 3px 7px 0 rgba(0, 0, 0, 0.6),
  inset -2px -2px 2px 0 rgba(108,108,108, 0.6);
}
