.theme-dark{
  --bg-color:#1d1e22;
  --bg-color-shade:#222429;
  --bg-color-2:#23272e;

  --text-color:#F6E9E9;
  --text-color-2:#d4d4dc;
  --green:#51c726;
  --green-glow:#5c9e44;

  --color-primary-1:#393f4d;
  --color-primary-2:#007CC7;
  --color-primary-3:#4DA8DA;
  --color-primary-4:#EEFBFB;
  --color-danger:#c1432e;
  --color-warning:#feda6a;
  --color-disabled:#5c5b5b;

  --shadow-outer-dark:rgba(0, 0, 0, 1);
  --shadow-outer-light:rgba(100, 100, 100, 0.3);
  --shadow-inner-dark:rgba(0, 0, 0, 0.9);
  --shadow-inner-light:rgba(100, 100, 100, 0.4);
}

.theme-light{
  --bg-color:#dbd7d7;
  --text-color:#131412;
  --color-primary-1:#848a82;
  --color-primary-2:#0255c2;
  --color-primary-3:#3C1874;
  --color-primary-4:#3C1874;
  --color-danger:rgb(220, 0, 22);
  --color-warning:#F1D00A;
  --color-disabled:#5c5b5b;

  --shadow-outer-dark:rgba(7, 6, 6, 0.5);
  --shadow-outer-light:rgba(100, 100, 100, 0.3);

  --shadow-inner-dark:rgba(0, 0, 3, 0.6);
  --shadow-inner-light:rgba(205, 209, 213, 0.5);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.App{
  background-color: var(--bg-color);
}