.side-menu{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 1rem;
    /* border: 1px solid rgba(108,108,108) */
}

.side-menu-header{
    padding: 1rem;
}

.list-content{
    /* background-color: darkolivegreen; */
    border-radius: 10px;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.7),
    -2px -2px 3px 0 rgba(70, 70, 70, 0.2); 
    margin-bottom: 1rem;
}

.list-switch{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease;
    
    height: 4rem;
    padding: .1rem;
    border-radius:10px;
    position: relative;
}

.list-option{
    width:50%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease;
    padding: .6rem;

}
.search-list{
    /* transition: all .1s linear; */
    border-radius: 10px;
    box-shadow: inset 3px 3px 7px 0 rgba(0, 0, 0, 0.6),
    inset -2px -2px 2px 0 rgba(70, 70, 70, 0.6);
    padding: .9rem; 
}
.sort-list{
   /* transition: all .1s linear; */
   border-radius: 10px;
   box-shadow: inset 3px 3px 7px 0 rgba(0, 0, 0, 0.5),
   inset -2px -2px 2px 0 rgba(70, 70, 70, 0.6);
   padding: .9rem; 
}


.active{
    /* background: cadetblue; */
    width:100%;
    transition: all .2s ease;
    height: 3rem;
    border-radius: 10px;
    box-shadow: inset 3px 3px 7px 0 rgba(0, 0, 0, 0.6),
    inset -2px -2px 2px 0 rgba(70, 70, 70, 0.6);
}
.active span{
    transition: all .2s ease;
    margin-left: .5rem;
}


.list-item {
    height: 3rem;
    margin-bottom: 1rem;
    list-style-type: none;
    cursor: pointer;
    width:100%;
    border-radius: 10px;
    /* box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.7),
    -2px -2px 3px 0 rgba(70, 70, 70, 0.2);  */
}

.list-link{
    padding: 1rem 0 1rem 1rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    overflow: hidden;
    font-size: 1.5rem;
    text-decoration: none;
    color:var(--color-light);
    transition: all .2s ease;
}

.list-link button{
    cursor: pointer;
}