.compare-mode-block{
    /* background-color: rgb(1, 156, 104); */
    height:145px;
    width:max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    transition: all .3s ease;

    overflow: hidden;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.87),
    -2px -2px 3px 0 rgba(70, 70, 70, 0.2);  
}

.algo-compnent{
    /* background-color:darkgreen; */
    margin: .3rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.compare-mode-algo-info{
    /* background-color: coral; */
    /* height: 100%; */
    /* padding: 1rem 0 0; */
}
.compare-mode-algo-btn-container{
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}


.remove-compare-block-btn{
    /* background-color: brown; */
    /* margin-left: 15px; */
    /* border-radius: 35px; */
    padding: 0 10px;
    height:100%;
}